{% trans_default_domain 'FrontendBundle' %}
{{ form_start(form, {'attr': {'class': 'form-inner'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-inner-input', 'placeholder': 'ui.placeholder.first_name'|trans}}) }}
    {{ form_widget(form.phone, {'attr': {'class': 'form-inner-input', 'placeholder': 'ui.placeholder.phone_number'|trans}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-inner-input', 'placeholder': 'ui.placeholder.email'|trans}}) }}
    <a href="#" class="btn btn--primary btn--big">
        <div class="btn__inner">
            <span class="btn__text">{{ 'ui.get_consult'|trans }}</span>
        </div>
    </a>
    {{ form_row(form._token) }}
{{ form_end(form) }}
