{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block main %}
    <section class="contacts">
        <div class="contacts__wrap">
            <div class="contacts__wrap--item">

                <h1 class="h1 contacts__title">{{ seo.h1 }}</h1>

                <div class="contacts__wrap--item__item">

                    <div class="contacts__subtitle">{{ 'main_office'|trans }}</div>

                    <div class="contacts__item">
                        <svg class="svg-icon contacts__item--icon">
                            <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#nav-icon" />
                        </svg>
                        <a href="#" class="contacts__item--text">
                            {{ staticContent.city.description|striptags|raw }}, {{ staticContent.street.description|striptags|raw }}
                        </a>
                    </div>

                    <div class="contacts__item">
                        <svg class="svg-icon contacts__item--icon">
                            <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#mail-icon" />
                        </svg>
                        <a href="mailto:office@buelinkin.com" class="contacts__item--text">
                            {{ staticContent.email.description|striptags|raw }}
                        </a>
                    </div>
                </div>

                {% for item in contactPhoneType %}
                    <div class="contacts__wrap--item__item">
                        <div class="contacts__subtitle">{{ item.title }}</div>
                        <div class="contacts__item">
                            <svg class="svg-icon contacts__item--icon">
                                <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#phone-icon-2" />
                            </svg>
                            {% for phone in item.phones %}
                                <a href="tel:{{ phone }}" class="contacts__item--text">
                                    {{ phone }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="contacts__wrap--item">
                <iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.557330891046!2d30.3857416156225!3d50.48658419264184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd1f3431b247%3A0xac26b0a62dea58ba!2zMTdaaCwg0LLRg9C70LjRhtGPINCQ0LrQsNC00LXQvNGW0LrQsCDQotGD0L_QvtC70ZTQstCwLCAxN9CWLCDQmtC40ZfQsiwgMDIwMDA!5e0!3m2!1suk!2sua!4v1611656929484!5m2!1suk!2sua" frameborder="0" style="border:0" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>

        </div>
    </section>

    <section class="form">
        <div class="container">
            <div class="form__wrap">
                <div class="form__title">
                    <span id="form"></span>
                    <div class="form__title-main">
                        {{ 'contact_form.contact_title'|trans }}
                    </div>
                    <div class="form__title-text">
                        {{ 'contact_form.sub_title'|trans }}
                    </div>
                </div>
                <div class="form__form">
                    {{ render(controller('ContactBundle\\Controller\\Frontend\\ContactController::renderForm')) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}