{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="canonical" href="{{ absolute_url(path('frontend_static_page_show', {'slug': 'about_us'})) }}"/>
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div class="info info--side">
                <div class="main-title-holder">
                    <h1 class="h2 h2--left main-title">{{ 'page_about.h1_title'|trans }}</h1>
                    <h2 class="h2 h2--left main-title main-title--desktop">{{ 'page_about.h1_description'|trans }}</h2>
                </div>
                <div class="info__controls">
                    <div class="info__head">
                        <div class="info__select">
                            <span class="info__select-text">{{ 'page_about.who_we_are'|trans }}</span>
                            <svg class="svg-icon info__select-icon" aria-hidden="true">
                                <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-down"></use>
                            </svg>
                            <select class="info__select-item">
                                <option value="who_we_are">{{ 'page_about.who_we_are'|trans }}</option>
                                <option value="showroom">{{ 'page_about.showroom'|trans }}</option>
                                <option value="delivery">{{ 'page_about.delivery'|trans }}</option>
                                <option value="payment">{{ 'page_about.payment'|trans }}</option>
                                <option value="faq">{{ 'page_about.faq'|trans }}</option>
                            </select>
                        </div>
                        <div class="info__buttons">
                            <button class="info__button info__button--swipe info__button--active" data-index="who_we_are">
                                <div class="info__button-inner">
                                    <span class="info__button-text">{{ 'page_about.who_we_are'|trans }}</span>
                                    <span class="info__button-text info__button-text--active">{{ 'page_about.who_we_are'|trans }}</span>
                                </div>
                            </button>
                            <button class="info__button info__button--swipe" data-index="showroom">
                                <div class="info__button-inner">
                                    <span class="info__button-text">{{ 'page_about.showroom'|trans }}</span>
                                    <span class="info__button-text info__button-text--active">{{ 'page_about.showroom'|trans }}</span>
                                </div>
                            </button>
                            <button class="info__button info__button--swipe" data-index="delivery">
                                <div class="info__button-inner">
                                    <span class="info__button-text">{{ 'page_about.delivery'|trans }}</span>
                                    <span class="info__button-text info__button-text--active">{{ 'page_about.delivery'|trans }}</span>
                                </div>
                            </button>
                            <button class="info__button info__button--swipe" data-index="payment">
                                <div class="info__button-inner">
                                    <span class="info__button-text">{{ 'page_about.payment'|trans }}</span>
                                    <span class="info__button-text info__button-text--active">{{ 'page_about.payment'|trans }}</span>
                                </div>
                            </button>
                            <button class="info__button info__button--swipe" data-index="faq">
                                <div class="info__button-inner">
                                    <span class="info__button-text">{{ 'page_about.faq'|trans }}</span>
                                    <span class="info__button-text info__button-text--active">{{ 'page_about.faq'|trans }}</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="info__body">
                    <div class="info__block info-block info__block--active info__block--visible" data-index="who_we_are">
                        <div class="info-block__content">
                            {% if staticContent['who_are_we'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['who_are_we'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['who_are_we'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if staticContent['how_we_work'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['how_we_work'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['how_we_work'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if staticContent['our_mission'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['our_mission'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['our_mission'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="info__block info-block" data-index="showroom">
                        <div class="info-block__content">
                            {% if staticContent['adress'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['adress'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['adress'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if staticContent['working_time'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['working_time'].shortDescription|striptags }} </span>
                                    <div class="static-content">
                                        {{ staticContent['working_time'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if staticContent['showroom_services'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['showroom_services'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['showroom_services'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="info__block info-block" data-index="delivery">
                        <div class="info-block__content">
                            {% if staticContent['delivery'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['delivery'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['delivery'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if staticContent['return'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['return'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['return'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="info__block info-block" data-index="payment">
                        <div class="info-block__content">
                            {% if staticContent['cash'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['cash'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['cash'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if staticContent['bank_card'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['bank_card'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['bank_card'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="info__block info-block" data-index="faq">
                        <div class="info-block__content">
                            {% if staticContent['faq'] is defined %}
                                <div class="info-block__subcontent">
                                    <span class="info-block__title">{{ staticContent['faq'].shortDescription|striptags }}</span>
                                    <div class="static-content">
                                        {{ staticContent['faq'].description|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="{{ asset('build/frontend/js/about.js') }}{{ assetVersion }}"></script>
{% endblock %}