<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        @font-face {
            font-family: 'PTSerif-Regular';
            src: url('{{ absolute_url(asset('bundles/supportcentercontact/font/PTSerif-Regular.eot?#iefix'))}}') format('embedded-opentype'), url('{{ absolute_url(asset('bundles/supportcentercontact/font/PTSerif-Regular.woff'))}}') format('woff'), url('{{ absolute_url(asset('bundles/supportcentercontact/font/PTSerif-Regular.ttf'))}}') format('truetype'), url('{{ absolute_url(asset('bundles/supportcentercontact/font/PTSerif-Regular.svg#PTSerif-Regular'))}}') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
        }

        * {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        img {
            max-width: 100%;
        }

        .collapse {
            padding-right: 15px;
            padding: 0;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
        }

        a {
            color: #aaaaaa;
            font-size: 12px;
        }

        .bt {
            padding-top: 10px;
        }

        p.callout {
            padding: 9px;
            font-size: 12px;
        }

        p.text {
            padding: 10px;
            font-size: 12px;
        }

        p.left {
            padding: 5px;
            font-size: 12px;
            text-align: left;
        }

        .prod {
            margin: 0;
            padding: 0;
            color: #aaaaaa;
        }

        .callout a {
            font-weight: bold;
            color: #aaaaaa;
        }

        table.head-wrap {
            width: 100%;
        }

        .header.container table td.logo {
            padding: 15px;
        }

        .header.container table td.label {
            padding: 15px;
            padding-left: 0;
        }

        table.body-wrap {
            width: 100%;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            margin-bottom: 5px;
            color: #000;
        }

        h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
            font-size: 60%;
            color: #6f6f6f;
            line-height: 0;
            text-transform: none;
        }

        h1 {
            font-weight: 200;
            font-size: 18px;
            padding: 20px;
            letter-spacing: 3px;
            font-weight: 300;
        }

        h2 {
            font-weight: 200;
            font-size: 37px;
        }

        h3 {
            font-weight: 500;
            font-size: 27px;
        }

        h4 {
            font-weight: 500;
            font-size: 23px;
        }

        h5 {
            font-weight: 900;
            font-size: 13px;
            color: #c2a67e;
        }

        h6 {
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
            color: #444;

        }

        h7 {
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
            color: #444;
            padding: 5px;
        }

        .collapse {
            margin: 0 !important;
        }

        p, ul {
            margin-bottom: 2px;
            font-weight: normal;
            font-size: 11px;
            line-height: 1.6;
        }

        p.lead {
            font-size: 13px;
        }

        p.last {
            margin-bottom: 0;
        }

        ul li {
            margin-left: 5px;
            list-style-position: inside;
        }

        .container {
            display: block !important;
            max-width: 680px !important;
            margin: 0 auto !important;
            /* makes it centered */
            clear: both !important;
        }

        .content {
            padding: 5px;
            max-width: 680px;
            margin: 0 auto;
            display: block;
        }

        .content table {
            width: 100%;
        }

        @media only screen and (max-width: 400px) {
            .social {
                margin-top: -35px;
            }

            h1 {
                font: 45px 'PTSerif-Regular' !important;
            }

            body {
                background-size: cover !important;
            }
        }
    </style>
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0"
      style="background: url('{{ absolute_url(asset('bundles/supportcentercontact/images/bg1.png')) }}') center center no-repeat">
<img editable="true"/>

<!------------------------------------ ---- BODY -------------------------- ------------------------------------->
<table class="body-wrap">
    <tr>
        <td class="container">
            <!-- content -->
            <div class="content">
                <table class="social" width="100%" style="margin-top: -35px;">
                    <tr>
                        <td align="center">
                            <h1 style="font: 58px 'PTSerif-Regular'; color: #556293;">Добрый день!</h1>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- COLUMN WRAP -->
            <div class="column-wrap">
                <div class="">
                    <table bgcolor="" class="" width="100%">
                        <tr>
                            <td>
                                <table align="left" width="100%">
                                    <tr>
                                        {{ body|raw }}
                                        <p class="text" style="font: 18px 'Arial'; color: #556293; line-height: 23px;">Имя, Фамилия: {{ entity.name }}</p>
                                        <p class="text" style="font: 18px 'Arial'; color: #556293; line-height: 23px;">Фамилия: {{ entity.surname }}
                                        </p>
                                        <p class="text" style="font: 18px 'Arial'; color: #556293; line-height: 23px;">Адрес электронной почты: {{ entity.email }}
                                        </p>
                                        <p class="text" style="font: 18px 'Arial'; color: #556293; line-height: 23px;">Тема сообщения: {{ entity.subject }}
                                        </p>
                                        {% if entity.product %}
                                            <p class="text" style="font: 18px 'Arial'; color: #556293; line-height: 23px;">
                                                Товар: {{ entity.product.title }}
                                            </p>
                                        {% endif %}
                                        <p class="text" style="font: 18px 'Arial'; color: #556293; line-height: 23px;">Сообщение: {{ entity.message }}
                                        </p>
                                        <p class="text text-right" align="right"
                                           style="font: 18px 'Arial'; color: #556293; line-height: 23px;">
                                            С наилучшими пожеланиями,
                                            <br>
                                            команда сайта.
                                        </p>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>