{% if breadcrumbs is defined and breadcrumbs|length > 0 %}
    <section class="Pt(10rem)--lg Pt(5rem)--xs-lg Pb(0)">
        <div class="container">
            <div class="breadcrumbs breadcrumbs--theme--light">
                <ul class="breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            {% if not loop.last %}
                                <a class="breadcrumbs__link" itemprop="item" href="{{ breadcrumb['url'] }}">
                                    <span itemprop="name">
                                        {{ breadcrumb.title }}
                                    </span>
                                </a>
                            {% else %}
                                <span class="breadcrumbs__text" itemprop="name">
                                    {{ breadcrumb.title }}
                                </span>
                            {% endif %}
                            {% if not loop.last %}
                                <svg class="svg-icon breadcrumbs__icon" aria-hidden="true">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right"></use>
                                </svg>
                            {% endif %}
                            <meta itemprop="position" content="{{ loop.index }}" />
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endif %}