{% trans_default_domain 'FrontendBundle' %}
<footer class="page__footer page-footer">
    <div class="container">
      	<div class="page-footer__wrap">
        	<div class="page-footer__wrap-item page-footer__logo">
        		<a href="{{ path('frontend_homepage', {_locale: app.request.locale}) }}" class="footer-logo">
        			<img src="{{ asset('build/frontend/img/logo.svg') }}" class="logo__img" alt="Лого" />
        		</a>
        	</div>
        	<div class="page-footer__wrap-item page-footer-address">
        		<span class="page-footer-city page-footer-address--item">{{ static.city.text|striptags|raw }}</span>
        		<span class="page-footer-street page-footer-address--item">
        			{{ static.street.text|striptags|raw }}
        			{% for contactPhone in contactPhones %}
	                    <a href="tel:{{ contactPhone.phone }}" class="page-footer-phone">{{ contactPhone.phone }}</a>
	                {% endfor %}
        		</span>
        		<span class="page-footer-email page-footer-address--item">
        			{{ static.email.text|striptags|raw }}
        		</span>
        	</div>
        	<div class="page-footer__wrap-item">
          		<div class="media__icons" data-wow-duration="1s">
          			<a target="_blank" href="https://www.facebook.com/bueling.com.ua" class="media__icon-link">
          				<svg class="svg-icon media__icon">
                			<use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook-icon" />
                		</svg>
            		</a>
            		<a href="https://www.youtube.com/channel/UCc_bFVwwuhypJ4l2OhAXW9w" class="media__icon-link">
            			<svg class="svg-icon media__icon">
                			<use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#youtube-icon" />
                		</svg>
                	</a>
                	<a href="javascript:void(0)" class="media__icon-link">
                		<svg class="svg-icon media__icon">
                			<use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram-icon" />
                		</svg>
                	</a>
                </div>
          		<div class="page-footer__form">
                    <form action="{{ path('frontend_ajax_distribution') }}" method="POST" novalidate class="page-footer__form-inner js-ajax-form">
                        <input class="page-footer__form-input js-validate-field" data-field-type="email" type="email" data-error="{{ 'form.error.email'|trans }}" id="footerEmail" name="email" placeholder="EMAIL*">
                        <span class="input__error"></span>
                        <button type="submit" class="btn btn--white btn--medium btn--white-footer">
                            <div class="btn__inner">
                                <span class="btn__text">{{ 'ui.sign_distribution'|trans }}</span>
                            </div>
                        </button>
                    </form>
          		</div>
        	</div>
      	</div>
    </div>
 </footer>