{% trans_default_domain 'FrontendBundle' %}
<nav class="menu page__menu">
    <div class="menu__inner">
        <div class="menu__holder">
            <div class="menu__list-wrap menu__list-wrap--visible">
                <ul class="menu__list menu__list--nesting--0">

                    <li class="menu__item js-has-list">
                        <div class="menu__link-wrap">
                            <a class="menu__link" href="#">
                                <span class="menu__text">{{ 'menu.shop'|trans }}</span>
                                <span class="menu__text menu__text--active">{{ 'menu.shop'|trans }}</span>
                            </a>
                            <button class="menu__toggle">
                                <svg class="svg-icon menu__toggle-icon" aria-hidden="true">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-down"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="menu__list-wrap">
                            <ul class="menu__list menu__list--nesting--1">
                                {% for category in categories %}
                                    <li class="menu__item">
                                        <div class="menu__link-wrap">
                                            <a class="menu__link" href="{{ path('frontend_show_product_category', {slug: category.slug, _locale: app.request.locale}) }}">
                                                <span class="menu__text">
                                                    {{ category.translate.title }}
                                                    <sup>{{ category.count }}</sup>
                                                </span>
                                                <span class="menu__text menu__text--active">
                                                    {{ category.translate.title }}
                                                    <sup>{{ category.count }}</sup>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>

                    <li class="menu__item js-has-list menu__item--promoted">
                        <div class="menu__link-wrap">
                            <a class="menu__link" href="{{ path('frontend_static_page_show', {'slug': 'about_us'}) }}">
                                <span class="menu__text">{{ 'menu.about_us'|trans }}</span>
                                <span class="menu__text menu__text--active">{{ 'menu.about_us'|trans }}</span>
                            </a>
                            <button class="menu__toggle">
                                <svg class="svg-icon menu__toggle-icon" aria-hidden="true">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-down"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="menu__list-wrap">
                            <ul class="menu__list menu__list--nesting--1">
                                <li class="menu__item">
                                    <div class="menu__link-wrap">
                                        <a class="menu__link menu__link--uppercase" href="{{ path('frontend_static_page_show', {'slug': 'about_us'}) }}">
                                            <span class="menu__text">{{ 'menu.about_us'|trans }}<sup></sup></span>
                                            <span class="menu__text menu__text--active">{{ 'menu.about_us'|trans }}<sup></sup></span>
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__item">
                                    <div class="menu__link-wrap">
                                        <a class="menu__link menu__link--uppercase" href="{{ path('frontend_news_list') }}">
                                            <span class="menu__text">{{ 'blog.title'|trans }}<sup></sup></span>
                                            <span class="menu__text menu__text--active">{{ 'blog.title'|trans }}<sup></sup></span>
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__item">
                                    <div class="menu__link-wrap">
                                        <a class="menu__link menu__link--uppercase" href="{{ path('frontend_contact_index') }}">
                                            <span class="menu__text">{{ 'menu.contacts'|trans }}<sup></sup></span>
                                            <span class="menu__text menu__text--active">{{ 'menu.contacts'|trans }}<sup></sup></span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="menu__close">
        <svg class="svg-icon menu__close-icon" aria-hidden="true">
            <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#close"></use>
        </svg>
    </button>
</nav>
