{% trans_default_domain 'FrontendBundle' %}
{% set poster = staticContent.about.poster|json_decode %}
<section id="about" class="about lazyload-container lazyload" data-bgset="{{ poster.webp.mobile|default('') }} [type=image/webp] | {{ poster.mobile|default('') }}">
    <div class="container about__inner">
        <div class="about__wrap">
            <div class="about__wrap-item">
                <div class="about__title">{{ staticContent.about.text }}</div>
                <p class="about__text">{{ staticContent.about.short_text|default('')|striptags|raw }}</p>
                <a href="{{ path('frontend_static_page_show', {slug: 'about'}) }}" class="btn btn btn--primary btn--medium">
                    <div class="btn__inner">
                        <span class="btn__text">{{ 'ui.more'|trans }}</span>
                    </div>
                </a>
            </div>
            <div class="about__wrap-item">
                <video class="page__video" poster="{{ asset('build/frontend/img/temp/about-img-2.png') }}" muted loop data-src="{{ asset('build/frontend/video/video.mp4') }}">
                    {{ 'ui.video.not_supported'|trans }}
                </video>
            </div>
        </div>
        {% include 'static/about_circles.html.twig' %}
    </div>
</section>