{% trans_default_domain 'FrontendBundle' %}
<section class="sphere">
    <div class="container">
        <div class="sphere__title">
            <h2 class="h2 sphere__title-main">{{ 'homepage.areas'|trans }}</h2>
        </div>

        <div class="sphere__wrap">
            {% for item in applicationFields %}
                <a href="{{ path('frontend_show_application_field', {slug: item.slug, _locale: app.request.locale}) }}" class="sphere__wrap-item">
                    <div class="sphere__wrap-item--left">
                        <img class="svg-icon sphere__wrap-item--icon" src="{{ asset(item.poster|json_decode.default_file|default('')) }}" />
                    </div>
                    <div class="sphere__wrap-item--right">
                        <p class="sphere__wrap-item--title">{{ item.translate.title }}</p>
                        <p class="sphere__wrap-item--text">{{ item.translate.shortDescription }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>