{% trans_default_domain 'FrontendBundle' %}

{% extends 'base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {# <link rel="canonical" href="{{ absolute_url(path('frontend_show_product_category', {'slug': productCategory.slug})) }}{{ cannical_query }}" /> #}
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <div>
                <div class="Flg(i) W(100%-200px)--lg Ml(a)--lg Pl(1rem)--lg">
                    <h2 class="h2">{{ category.translate.title }}</h2>
                </div>
            </div>
            <div class="D(f)--lg">
                <div class="page__filters Mt(10px)--lg">
                    {{ filter|raw }}
                </div>
                <div class="Flg(i) W(100%-200px)--lg">
                    <button class="btn js-show-filters W(100%)--xs-lg H(50px)--xs-lg D(n)--lg Mb(1rem)" >
                        <div class="btn__inner">
                            <span class="btn__text">{{ 'filter.btn_text'|trans }}</span>
                        </div>
                    </button>

                    <div class="products products--row--3">
                        <ul class="products__list js-infinite-scroll">
                            {{ render(controller(
                                'Ecommerce\\Controller\\Frontend\\ProductController::getProductsByCategoryAction', {
                                    'category_id': category.id
                                }))
                            }}
                        </ul>
                        <div class="js-infinite-scroll-load-status">
                            <div class="loader-ellips infinite-scroll-request">
                                <span class="loader-ellips__dot"></span>
                                <span class="loader-ellips__dot"></span>
                                <span class="loader-ellips__dot"></span>
                                <span class="loader-ellips__dot"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="{{ asset('build/frontend/js/products~vue-cart.bundle.js') }}{{ assetVersion }}"></script>
    <script src="{{ asset('build/frontend/js/products.js') }}{{ assetVersion }}"></script>
{% endblock %}