{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block main %}
    <section class="single-product">
        <div class="container">
            <div class="single-product__wrap W(100%)">

                {% include 'product/slider.html.twig' %}

                <div class="single-product__wrap-item">
                    <div class="single-product__title">
                        <h2 class="h2 single-product__title-main">
                            {{ product.translate.title }}
                        </h2>
                    </div>
                    <div class="single-product__subtitle">
                        {{ product.translate.subtitle }}
                    </div>
                    <div class="single-product__description">
                        {{ product.translate.shortDescription|raw }}
                    </div>
                </div>
            </div>
            {% if product.features|length %}
                <div class="single-area__these single-product__these">
                    {% for feature in product.features %}
                        <div class="thesis__item">
                            <p class="thesis__item--icon">
                                {% set poster = feature.poster|json_decode %}
                                <img class="svg-icon thesis__icon" src="{{ asset(poster.frontend|default(no_image)) }}" />
                            </p>
                            <p class="thesis__item--text">
                                {{ feature.translate.description|striptags|raw }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if product.description|length %}
                <div class="service__wrap">
                    <div class="service__wrap--item">
                        <div class="service__text">
                            {{ product.translate.description|raw }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% include 'default/faq.html.twig' with {faq: product.faq} %}

        </div>
    </section>

    <section class="form">
        <div class="container">
            <div class="form__wrap">
                <div class="form__title">
                    <span id="form"></span>
                    <div class="form__title-main">
                        {{ 'contact_form.title'|trans }}
                    </div>
                    <div class="form__title-text">
                        {{ 'contact_form.sub_title'|trans }}
                    </div>
                </div>
                <div class="form__form">
                    {{ render(controller('ContactBundle\\Controller\\Frontend\\ContactController::renderForm')) }}
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="single-product__wrap--holder">

            {% if product.relatedActivityArea and product.relatedActivityArea.showOnWebsite %}
                <div class="single-product__wrap--holder--item">
                    <h2 class="h2 single-product__title">{{ 'our_services'|trans }}</h2>
                    {% set poster = product.relatedActivityArea.galleryImages|first.image|default('')|json_decode %}

                    <div class="single-product--block lazyload" data-bgset="{{ asset(poster.webp.list_630_420|default(no_image)) }} [type=image/webp] | {{ asset(poster.list_630_420|default(no_image)) }}">
                        <div class="single-product--block__title">
                            {{ product.relatedActivityArea.translate.title }}
                        </div>
                        <div class="single-product--block__text">
                            <a href="{{ path('frontend_show_activity_area', {slug: product.relatedActivityArea.slug, _locale: app.request.locale}) }}">
                                {{ product.relatedActivityArea.translate.shortDescription|striptags }}
                            </a>
                        </div>
                        <div class="single-product--block__btn">
                            <a href="{{ path('frontend_show_activity_area', {slug: product.relatedActivityArea.slug, _locale: app.request.locale}) }}" class="btn btn--primary btn--small">
                                <div class="btn__inner">
                                    <span class="btn__text">{{ 'ui.more'|trans }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if product.relatedProject and product.relatedProject.showOnWebsite %}
                <div class="single-product__wrap--holder--item">
                    <h2 class="h2 single-product__title">{{ 'our_projects'|trans }}</h2>
                    {% set poster = product.relatedProject.galleryImages|first.image|default('')|json_decode %}

                    <div class="single-product--block lazyload" data-bgset="{{ asset(poster.webp.list_630_420|default(no_image)) }} [type=image/webp] | {{ asset(poster.list_630_420|default(no_image)) }}">
                        <div class="single-product--block__title">
                            {{ product.relatedProject.translate.company }}
                        </div>
                        <div class="single-product--block__text">
                            <a href="{{ path('frontend_show_project', {slug: product.relatedProject.slug, _locale: app.request.locale}) }}">
                                {{ product.relatedProject.translate.title }}
                            </a>
                        </div>
                        <div class="single-product--block__btn">
                            <a href="{{ path('frontend_show_project', {slug: product.relatedProject.slug, _locale: app.request.locale}) }}" class="btn btn--primary btn--small">
                                <div class="btn__inner">
                                    <span class="btn__text">{{ 'ui.more'|trans }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('build/frontend/js/single-area.js') }}{{ assetVersion }}"></script>
{% endblock %}