{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block main %}
    <section class="single-product">
        <div class="container">
            <div class="single-product__wrap">

                {% include 'product/slider.html.twig' %}

                <div class="single-product__wrap-item">
                    <div class="single-product__title">
                        <h2 class="h2 single-product__title-main">
                            {{ product.categories|first.translate.title|default('') }}
                        </h2>
                    </div>
                    <div class="single-product__subtitle">
                        {{ product.translate.title }}
                    </div>
                    <div class="single-product__description">
                        {{ product.translate.shortDescription|raw }}
                    </div>
                </div>
            </div>
            
            <div class="single-product__these-description">
                {{ product.translate.description|raw }}
            </div>

            {% if product.features|length %}
                <div class="single-area__these single-product__these">
                    {% for feature in product.features %}
                        <div class="thesis__item">
                            <p class="thesis__item--icon">
                                {% set poster = feature.poster|json_decode %}
                                <img class="svg-icon thesis__icon" src="{{ asset(poster.frontend|default('')) }}" />
                            </p>
                            <p class="thesis__item--text">
                                {{ feature.translate.title }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% include 'default/faq.html.twig' with {faq: product.faq} %}

        </div>
    </section>

    <section class="form">
        <div class="container">
            <div class="form__wrap">
                <div class="form__title">
                    <div class="form__title-main">
                        {{ 'contact_form.title'|trans }}
                    </div>
                    <div class="form__title-text">
                        {{ 'contact_form.sub_title'|trans }}
                    </div>
                </div>
                <div class="form__form">
                    {{ render(controller('ContactBundle\\Controller\\Frontend\\ContactController::renderForm')) }}
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="single-product__wrap--holder">

            <div class="single-product__wrap--holder--item">
                <h2 class="h2 single-product__title">{{ 'our_services'|trans }}</h2>
                {% set poster = area.galleryImages|first.image|default('')|json_decode %}

                <div class="single-product--block lazyload" data-bgset="{{ asset(poster.webp.list_370_493|default('')) }} [type=image/webp] | {{ asset(poster.list_370_493|default('')) }}">
                    <div class="single-product--block__title">
                        {{ area.translate.title }}
                    </div>
                    <div class="single-product--block__text">
                        <a href="{{ path('frontend_show_activity_area', {slug: area.slug}) }}">
                            {{ area.translate.shortDescription|striptags }}
                        </a>
                    </div>
                    <div class="single-product--block__btn">
                        <a href="{{ path('frontend_show_activity_area', {slug: area.slug}) }}" class="btn btn--primary btn--small">
                            <div class="btn__inner">
                                <span class="btn__text">{{ 'ui.more'|trans }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="single-product__wrap--holder--item">
                <h2 class="h2 single-product__title">{{ 'our_projects'|trans }}</h2>
                {% set poster = project.galleryImages|first.image|default('')|json_decode %}

                <div class="single-product--block lazyload" data-bgset="{{ asset(poster.webp.list_370_493|default('')) }} [type=image/webp] | {{ asset(poster.list_370_493|default('')) }}">
                    <div class="single-product--block__title">
                        {{ project.translate.company }}
                    </div>
                    <div class="single-product--block__text">
                        <a href="{{ path('frontend_show_project', {slug: project.slug}) }}">
                            {{ project.translate.title }}
                        </a>
                    </div>
                    <div class="single-product--block__btn">
                        <a href="{{ path('frontend_show_project', {slug: project.slug}) }}" class="btn btn--primary btn--small">
                            <div class="btn__inner">
                                <span class="btn__text">{{ 'ui.more'|trans }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('build/frontend/js/vendors~blog-item~common~index~product~projects~single-area.bundle.js') }}{{ assetVersion }}"></script>
    <script src="{{ asset('build/frontend/js/single-area.js') }}{{ assetVersion }}"></script>
{% endblock %}