{% trans_default_domain 'FrontendBundle' %}

<div class="main-title-holder main-title-holder--row">
    <h2 class="h2 h2--left main-title">{{ 'blog.resents_title'|trans }}</h2>
</div>
<div class="news">
    <div class="news__list news__list--vertical">
        {% for item in news %}
            <div class="news-item news__item news__item--vertical">
                <div class="news-item__inner">
                    <div class="news-item__head">
                        <a class="news-item__img-wrap lazyload-container"
                           href="{{ path('frontend_news_show', {slug: item.translate.slug}) }}">
                            {% set imageData = item.poster|json_decode %}
                            <img class="news-item__img lazyload"
                                 data-srcset="{{ asset(imageData['370x655']|default('')) }} 370w, {{ asset(imageData['740x1310']|default('')) }} 740w"
                                 data-src="{{ asset(imageData['370x655']|default('')) }}"/>
                        </a>
                        <div class="news-item__holder">
                            <div class="news-item__holder-content">
                                <div class="news-item__text">
                                    <date class="news-item__date"
                                          time="{{ item.publishAt|localizeddate('medium', 'none', 'ru') }}">
                                        {{ item.publishAt|localizeddate('medium', 'none', 'ru') }}
                                    </date>
                                    <a class="news-item__title"
                                       href="{{ path('frontend_news_show', {slug: item.translate.slug}) }}">
                                        {{ item.translate.title }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
