{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block head_javascript %}
    <script>
        window.__URLS__ = {
            getProducts: '{{ path('frontend_news_list', {_locale: app.request.locale}) }}',
        };
    </script>
{% endblock %}

{% block main %}
    <section class="blog">
        <div class="container">
            <div class="blog__title">
                <h2 class="h2 blog__title-main">
                    {{ staticContent.top.title }}
                </h2>
            </div>
            <div class="blog__subtitle">
                {{ staticContent.top.short_text|striptags }}
            </div>
            <div class="form-selection">
                <div class="form-selection__item">
                    <span class="form-selection__text"></span>
                    <div class="form-selection__holder">
                        <div class="form-selection__select">
                            <div class="form-selection__imitator">
                                <span>{{ 'ui.all_categories'|trans }} </span>
                                <svg class="svg-icon form-selection__icon">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-down" />
                                </svg>
                            </div>
                        <select name="region" class="js-select" data-type="news">
                            <option value="">{{ 'ui.all_categories'|trans }} </option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.translate.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            </div>
            <div class="blog__buttons__holder">
                <div class="blog__buttons__wrap">
                    {% for category in categories %}
                        <div class="blog__button product__areas--item" data-activity-area="{{ category.id }}" data-enabled="{{ loop.first ? 'true' : 'false' }}">
                            <a href="#" class="btn btn--primary btn--medium product-btn">
                                <div class="btn__inner">
                                    <span class="btn__text">{{ category.translate.title }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="product__handler">
                {% include 'news/elements.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{{ asset('build/frontend/js/product.js') }}{{ assetVersion }}"></script>
{% endblock %}