{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="canonical" href="{{ absolute_url(path('frontend_news_list')) }}"/>
{% endblock %}

{% block main %}
    <article>
        <div class="container Mt(3rem) news-items">
            <div class="news-item-page__img-holder">
                <div class="news-item-page__img-wrap lazyload-container">
                    {% set imageData = element.poster|json_decode %}
                    <img class="news-item-page__img lazyload"
                         data-srcset="{{ asset(imageData['370x655']|default('')) }} 370w, {{ asset(imageData['740x1310']|default('')) }} 740w"
                         data-src="{{ asset(imageData['370x655']|default('')) }}">
                </div>
            </div>
            <div class="title">
                <date class="news-item__date"
                      time="{{ element.publishAt|localizeddate('medium', 'none', 'ru') }}">{{ element.publishAt|localizeddate('medium', 'none', 'ru') }}</date>
                <h2 class="h2">{{ element.newsCategory.translate.title }}</h2>
                <div class="title__description">
                    {{ element.translate.shortDescription|raw }}
                </div>
            </div>
            <div class="static-content static-content--large W(75%)--lg Mx(a)--lg">
                {{ element.translate.description|raw }}
            </div>
        </div>
    </article>

{% endblock %}