{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block main %}
    <section class="blog-item">
        <div class="container">
            <div class="blog-item__title">
                <h2 class="h2 blog-item__title-main">
                    {{ element.translate.title }}
                </h2>
            </div>
            <div class="blog-item__wrap">

                {% include 'news/slider.html.twig' %}

                <div class="blog-item__wrap--item">
                    <div class="blog-item__description--text">
                        {{ element.translate.shortDescription|striptags }}
                    </div>

                    <div class="blog-item__description--links">
                        <p class="blog-item__description--links__text">{{ 'share'|trans }}:</p>
                        <div class="media__icons" data-wow-duration="1s">
                            <a target="_blank" href="https://www.facebook.com/bueling.com.ua" class="media__icon-link">
                                <svg class="svg-icon media__icon">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook-icon" />
                                </svg>
                            </a>
                            <a href="https://www.youtube.com/channel/UCc_bFVwwuhypJ4l2OhAXW9w" class="media__icon-link">
                                <svg class="svg-icon media__icon">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#youtube-icon" />
                                </svg>
                            </a>
                            <a href="javascript:void(0)" class="media__icon-link">
                                <svg class="svg-icon media__icon">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram-icon" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="blog-item__description__holder">
                <div class="blog-item__description--text">
                    {{ element.translate.description|raw }}
                </div>
            </div>
        </div>
    </section>

    <section class="blog-item-slider">
        <div class="container">
            <h2 class="h2 Ta(c) contacts__title">останні новини</h2>
            <div class="swiper-container blog-item-slider swiper-container--padding-bottom--large">
                <ul class="swiper-wrapper slider__list">
                    {% for item in posts %}

                        {% set galleryImage = item.galleryImages.first %}

                        {% if galleryImage %}
                            {% set image = galleryImage.img|json_decode %}
                            {% if image %}
                                <li class="swiper-slide">
                                    <div class="slider__item slider-item">
                                        <div class="slider-item__inner">
                                            <div class="news__wrap-item news__wrap-item--vertical">
                                                <picture class="news__wrap-item--img-wrap lazyload-container">
                                                    <source data-srcset="{{ image.list_499_283|default(no_image) }}">
                                                    <a href="{{ path('frontend_news_show', {slug: item.translate(item.defaultLocale).slug, _locale: app.request.locale}) }}">
                                                        <img src="{{ image.list_499_283|default(no_image) }}" alt="{{ element.translate.title }}" class="lazyload news__wrap-item--img">
                                                    </a>
                                                </picture>
                                                <p class="news__wrap-item--date">
                                                    {{ item.publishAt|localizeddate('medium', 'none') }}
                                                </p>
                                                <div class="news__wrap-item-content">
                                                    <a href="{{ path('frontend_news_show', {slug: item.translate(item.defaultLocale).slug, _locale: app.request.locale}) }}">
                                                        <p class="news__wrap-item-content--title">
                                                            {{ element.translate.title }}
                                                        </p>
                                                    </a>
                                                    <a href="{{ path('frontend_news_show', {slug: item.translate(item.defaultLocale).slug, _locale: app.request.locale}) }}" class="news__wrap-item-content--more">
                                                        {{ 'ui.read_more'|trans }}
                                                        <svg class="svg-icon news__wrap-item--icon">
                                                            <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <button class="swiper__arrow swiper-button-prev swiper__arrow--left">
                    <svg class="svg-icon swiper__icon">
                        <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left-slider" />
                    </svg>
                </button>
                <button class="swiper__arrow swiper-button-next swiper__arrow--right">
                    <svg class="svg-icon swiper__icon">
                        <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right-slider" />
                    </svg>
                </button>
                <div class="swiper-pagination slider__pagination slider__pagination--bottom-20"></div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{{ asset('build/frontend/js/single-area.js') }}{{ assetVersion }}"></script>
    <script src="{{ asset('build/frontend/js/blog-item.js') }}{{ assetVersion }}"></script>
{% endblock %}