<div class="blog-item__wrap--item js-photoswipe" data-href="{{ path('frontend_product_photoswipe') }}">
    <div class="swiper-container area-slider-1 about-page__item-slider swiper-container--padding-bottom">
        <ul class="swiper-wrapper slider__list">

            {% set index = 0 %}
            {% for galleryImage in element.galleryImages if galleryImage.showOnWebsite %}

                {% set image = galleryImage.img|json_decode %}
                {% if image %}

                    <li class="swiper-slide">
                        <div class="slider__item slider-item">
                            <div class="slider-item__inner">
                                <a href="{{ image.list_998_566|default(no_image) }}" class="js-photoswipe-item" data-index="{{ index }}" data-size="998x566">
                                    <picture class="slider-item__img-wrap lazyload-container">
                                        <source data-srcset="{{ image.list_710_400|default(no_image) }}">
                                        <img src="{{ image.list_710_400|default(no_image) }}" alt="" class="slider-item__img lazyload">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </li>

                    {% set index = index + 1 %}

                {% endif %}
            {% endfor %}

        </ul>
        <button class="swiper__arrow swiper-button-prev swiper__arrow--left">
            <svg class="svg-icon swiper__icon">
                <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-left-slider" />
            </svg>
        </button>
        <button class="swiper__arrow swiper-button-next swiper__arrow--right">
            <svg class="svg-icon swiper__icon">
                <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right-slider" />
            </svg>
        </button>
        <div class="swiper-pagination slider__pagination"></div>
    </div>
</div>