{% htmlcompress %}
    {% spaceless %}
        <!DOCTYPE html>
        <html lang="{{ app.request.locale }}">
        <head>
            {% set assetVersion = '?v='~5 %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=nouser-scalable=0">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="theme-color" content="#73e2e5">

            {% block seo_title %}
                {% include '@Seo/frontend/_head_meta.html.twig' %}
            {% endblock %}

            <link rel="stylesheet" href="{{ asset('build/frontend/css/build.css') }}{{ assetVersion }}">

            {% block head_stylesheets %}{% endblock %}
            {% block head_javascript %}{% endblock %}

        </head>

        <body>
            {% block header %}
                {{ render(controller('FrontendBundle:Default:initHeader', {is_transparent: is_transparent|default(false)})) }}
            {% endblock %}

            <div class="page__wrapper">
                <main class="page__content">
                    {% include 'default/_breadcrumbs.html.twig' %}
                    {% block main %}{% endblock %}
                </main>
            </div>

            {% block footer %}
                {{ render(controller('FrontendBundle:Default:initFooter')) }}
            {% endblock %}

            <script src="{{ asset('build/frontend/js/common.js') }}{{ assetVersion }}"></script>
            <script src="{{ asset('build/frontend/js/vendors~blog-item~common~index~product~projects~single-area.bundle.js') }}{{ assetVersion }}"></script>
            {% block script %}{% endblock %}
        </body>
        </html>
    {% endspaceless %}
{% endhtmlcompress %}
