{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block head_javascript %}
    <script>
        window.__URLS__ = {
            getProjects: '{{ path('frontend_projects', {_locale: app.request.locale}) }}',
        };
    </script>
{% endblock %}

{% block main %}
	<section class="projects-map product projects-page">
        <div class="container">
          	<div class="projects-page__title">
            	<h2 class="h2 projects-page__title-main">
            		{{ staticContent.top.title }}
            	</h2>
            	<div class="projects-page__subtitle">
            		{{ staticContent.top.short_text|striptags }}
            	</div>
          	</div>

            {% set mapData = [] %}
            {% for region in regions %}
              {% set mapData = mapData|merge([{value: region.id~'', title: region.translate.title}]) %}
            {% endfor %}

          	<div class="map js-map" data-data='{"regions":{{ mapData|json_encode|raw }},"urls":{"getProjects":"{{ path('frontend_projects', {_locale: app.request.locale}) }}"},"mode":"page"}'>

          		{% for item in mapData %}
	            	<div class="map__float-block {{ app.request.query.get('region') == item.value ? 'map__float-block--active' }}" data-index="{{ item.value }}">{{ item.title }}</div>
	            {% endfor %}
            	
	            {% include 'project/map.html.twig' %}

          	</div>

        </div>
    </section>

    <section>
      <div class="container">
        <h2 class="h3 Ta(c)">{{ 'projects.filter'|trans }}</h2>
        <div class="filters__form-wrap filters">
          {% include 'project/filter.html.twig' %}
        </div>
      </div>
    </section>

    <section class="projects-list">
        <div class="container">
          	<div class="projects__handler">
                {% include 'project/elements.html.twig' %}
          </div>
        </div>
      </section>

{% endblock %}

{% block script %}
  <script src="{{ asset('build/frontend/js/vendors~product~projects.bundle.js') }}{{ assetVersion }}"></script>
  <script src="{{ asset('build/frontend/js/projects.js') }}{{ assetVersion }}"></script>
{% endblock %}