{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block main %}
    <section class="single-project">
    	<div class="container">
            <section class="single-project">
              	<h2 class="h2 single-project__title">
              		{{ project.translate.title }}
              	</h2>
              	<div class="single-project__text">
              		{{ project.translate.shortDescription|raw }}
              	</div>
              	<div class="single-project__wrap">

                	{% include 'project/slider.html.twig' %}

                	<div class="single-project__wrap--item">
                  		<div class="single-project__description">
                    		<div class="single-project__description--item">
                                <p class="left">{{ 'household'|trans }}:</p>
                    			<span class="right"> {{ project.translate.company }}</span>
                    		</div>
                            <div class="single-project__description--item">
                                <p class="left">{{ 'works'|trans }}:</p>
                                <span class="right"> {% for area in project.activityAreas %}{{ area.translate.title }}{{ not loop.last ? ', ' }}{% endfor %}</span>
                            </div>
                    		<div class="single-project__description--item">
                                <p class="left">{{ 'realize_date'|trans }}:</p>
                    			<span class="right"> {{ project.publishAt|localizeddate('medium', 'none') }}</span>
                    		</div>
                            <div class="single-project__description--item">
                                <p class="left">{{ 'region'|trans }}:</p>
                                <span class="right"> {{ project.region.translate.title }}</span>
                            </div>
                  		</div>
                  		<div class="single-project__description__text">
                  			 {{ project.translate.description|raw }}
                  		</div>
                	</div>
              	</div>

{#              	{% include 'default/faq.html.twig' with {faq: project.faq} %}#}

            </section>
        </div>
    </section>

    <section class="form">
        <div class="container">
          	<div class="form__wrap">
            	<div class="form__title">
                    <span id="form"></span>
              		<div class="form__title-main">
              			{{ 'contact_form.title'|trans }}
              		</div>
              		<div class="form__title-text">
              			{{ 'contact_form.sub_title'|trans }}
              		</div>
            	</div>
            	<div class="form__form">
            		{{ render(controller('ContactBundle\\Controller\\Frontend\\ContactController::renderForm')) }}
            	</div>
          	</div>
        </div>
    </section>

	<div class="container">
        <div class="single-product__wrap--holder">

            {% if project.relatedActivityArea and project.relatedActivityArea.showOnWebsite %}
                <div class="single-product__wrap--holder--item">
                    <h2 class="h2 single-product__title">{{ 'our_services'|trans }}</h2>
                    {% set poster = project.relatedActivityArea.galleryImages|first.image|default('')|json_decode %}

                    <div class="single-product--block lazyload" data-bgset="{{ asset(poster.webp.list_630_420|default('')) }} [type=image/webp] | {{ asset(poster.list_630_420|default('')) }}">
                        <div class="single-product--block__title">
                            {{ project.relatedActivityArea.translate.title }}
                        </div>
                        <div class="single-product--block__text">
                            <a href="{{ path('frontend_show_activity_area', {slug: project.relatedActivityArea.slug}) }}">
                                {{ project.relatedActivityArea.translate.shortDescription|striptags }}
                            </a>
                        </div>
                        <div class="single-product--block__btn">
                            <a href="{{ path('frontend_show_activity_area', {slug: project.relatedActivityArea.slug}) }}" class="btn btn--primary btn--small">
                                <div class="btn__inner">
                                    <span class="btn__text">{{ 'ui.more'|trans }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if project.relatedProject and project.relatedProject.showOnWebsite %}
                <div class="single-product__wrap--holder--item">
                    <h2 class="h2 single-product__title">{{ 'our_projects'|trans }}</h2>
                    {% set poster = project.relatedProject.galleryImages|first.image|default('')|json_decode %}

                    <div class="single-product--block lazyload" data-bgset="{{ asset(poster.webp.list_630_420|default('')) }} [type=image/webp] | {{ asset(poster.list_630_420|default('')) }}">
                        <div class="single-product--block__title">
                            {{ project.relatedProject.translate.company }}
                        </div>
                        <div class="single-product--block__text">
                            <a href="{{ path('frontend_show_project', {slug: project.relatedProject.slug}) }}">
                                {{ project.relatedProject.translate.title }}
                            </a>
                        </div>
                        <div class="single-product--block__btn">
                            <a href="{{ path('frontend_show_project', {slug: project.relatedProject.slug}) }}" class="btn btn--primary btn--small">
                                <div class="btn__inner">
                                    <span class="btn__text">{{ 'ui.more'|trans }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{{ asset('build/frontend/js/single-area.js') }}{{ assetVersion }}"></script>
{% endblock %}