{{ form_start(form) }}

{{ form_label(form.name) }}
{{ form_widget(form.name) }}

{{ form_label(form.phone) }}
{{ form_widget(form.phone) }}

<button type="submit">Submit</button>
{{ form_end(form) }}